
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif; 
    outline: none;
}
body{
    background: url("./img/background.png");
}

.container{
    background-color: #AFEEEE;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;

}

.input-task{
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding-left: 10px;
}

.button-add-task{
    border:  none;
    border-radius: 5px;
    height: 40px;
    background-color: #084f4f;
    color:#AFEEEE;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    cursor: pointer;
    font-weight: 800;
}

.button-add-task:hover{
    opacity: 0.8;
}

.button-add-task:active{
    opacity: 0.6;
}

.list-tasks{
    width: 100%;
    list-style: none;
    margin-top: 30px;
}

.task{
    background-color: rgb(190, 228, 215);
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

img{
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;


}

.task:hover img {
    opacity: 1;
}

.done{
    background-color: #32CD32;
    text-decoration: line-through;
}

